<div class="post-container">
  <div class="columns is-multiline">
    {{#each posts}}
    <div class="column is-one-third">
      <div class="community-posts">


        <div class="post-container" data-post-id="{{id}}">

          <div class="post-content">
            <div class="post-head">
              {{#if user.profilePicture}}
              <img src="{{ user.profilePicture }}" alt="Profile picture" class="is-rounded profP">
              {{else}}
              <img src="img/default.png" alt="Default profile picture" class="is-rounded profP">
              {{/if}}
              <p class="post-meta"><strong>{{user.username}}</strong><br>
                {{format_date createdAt}} in {{user.location}}
                {{!-- <a href="/community/{{community}}">{{community}}</a> --}}
              </p>
            </div>

            <h3 class="title is-5">{{title}}</h3>

            <figure class="user-uploaded-picture">
              {{#if image}}
              <img src="{{ image }}" alt="User uploaded image" class="is-rounded user-uploaded-picture">
              {{/if}}
            </figure>
            <p>{{content}}</p>

            {{!-- --}}
            <div class="post-actions">
              <a class="post-action-item like-btn">
                {{#if isLiked}}
                <span class="heart liked">❤️</span>
                {{else}}
                <span class="heart">🤍</span>
                {{/if}}
              </a>
              <a class="post-action-item">Comments</a>

              <br>
              <a class="post-action-item toggle-comment-form">Add a Comment</a>
              <a class="post-action-item hide-link" data-action="hide">Hide</a>
              <div class="post-action-item dropdown is-hoverable">
                <a class="dropdown-trigger">
                  <span>Share</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item share-facebook" data-post-url="{{../baseUrl}}/post/{{id}}"
                      data-post-id="{{id}}">Share on Facebook</a>
                    <a class="dropdown-item share-whatsapp" data-post-url="{{../baseUrl}}/post/{{id}}"
                      data-post-id="{{id}}">Share on WhatsApp</a>
                    <a class="dropdown-item share-twitter" data-post-url="{{../baseUrl}}/post/{{id}}"
                      data-post-id="{{id}}" data-post-title="{{title}}">Share on Twitter</a>
                  </div>
                </div>
              </div>
            </div>

            <form class="comment-form" style="display:none;">
              <textarea class="comment-textarea" placeholder="Your comment..."></textarea>
              <button type="submit" class="submit-comment">Submit</button>
            </form>

            <div id="update-comment-modal" class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Update your comment</p>
                  <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                  <form id="update-comment-form">
                    <div class="field">
                      <label class="label">Comment</label>
                      <div class="control">
                        <textarea id="update-comment-textarea" class="textarea"
                          placeholder="Enter your updated comment"></textarea>
                      </div>
                    </div>
                  </form>
                </section>
                <footer class="modal-card-foot">
                  <button id="submit-update-comment" class="button is-success">Save changes</button>
                  <button id="cancel-update-comment" class="button">Cancel</button>
                </footer>
              </div>
            </div>

            <div class="comments-container">
              <p class="comlabel">Comments</p>
              {{#each comments}}
              <div class="comment-container">

                <p class="comment-meta">
                <p class="comuser">{{user.username}}</p> {{format_date createdAt}}</p>
                <p class="com">{{comment}}</p>
                <a class="update-comment" data-comment-id="{{id}}">Update</a>
                <a class="delete-comment" data-comment-id="{{id}}">Delete</a>
                {{!-- <a class="hide-comment" data-comment-id="{{id}}">Hide</a> --}}

              </div>
              <br>

              {{/each}}
              <br>
            </div>

          </div>
        </div>
      </div>

      <div class="post-actions">
        <a class="post-action-item unhide-link" data-action="unhide" style="display: none;">Unhide</a>
      </div>

    </div>
    <br>
    {{/each}}
    <br>
  </div>
</div>
<script src="/js/sharePost.js"></script>
<script src="/js/hidePost.js"></script>
<script src="/js/addComment.js"></script>
<script src="/js/deleteComment.js"></script>
<script src="/js/heartStatus.js"></script>
<script src="/js/updateCommentAllPosts.js"></script>
<script src="/js/displayComments.js"></script>