<div class="community-posts">
  {{#each posts}}
  <div class="post-wrapper">
    <div class="post-container" data-post-id="{{id}}">
      {{!-- <div class="post-votes">
        <button class="vote-button">
          <i class="fas fa-chevron-up"></i>
        </button>
        <p>{{votes}}</p>
        <button class="vote-button">
          <i class="fas fa-chevron-down"></i>
        </button>
      </div> --}}
      <div class="post-content">
        {{#if user.profilePicture}}
        <img src="{{ user.profilePicture }}" alt="Profile picture" class="is-rounded">
        {{else}}
        <div class="post-head">
          <img src="img/default.png" alt="Default profile picture" class="is-rounded profP">
          {{/if}}
          <p class="post-meta"><strong>{{user.username}}</strong> <br>
            {{format_date createdAt}} in <a href="/community/{{community}}">{{community}}</a>
          </p>

        </div>

        <h3 class="title is-5">{{title}}</h3>

        <figure class="user-uploaded-picture">
          {{#if image}}
          <img src="{{ image }}" alt="User uploaded image" class="is-rounded">
          {{/if}}
        </figure>
        <p>{{content}}</p>


        {{!-- --}}
        <div class="post-actions">
          <a class="post-action-item like-btn">
            {{#if isLiked}}
            <span class="heart liked">❤️</span>
            {{else}}
            <span class="heart">🤍</span>
            {{/if}}
          </a>
          <a class="post-action-item toggle-comment-form">Comments</a>
          <a class="post-action-item hide-link" data-action="hide">Hide</a>
          <div class="post-action-item dropdown is-hoverable">
            <a class="dropdown-trigger">
              <span>Share</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-content">
                <a class="dropdown-item share-facebook" data-post-url="{{../baseUrl}}/post/{{id}}"
                  data-post-id="{{id}}">Share on Facebook</a>
                <a class="dropdown-item share-whatsapp" data-post-url="{{../baseUrl}}/post/{{id}}"
                  data-post-id="{{id}}">Share on WhatsApp</a>
                <a class="dropdown-item share-twitter" data-post-url="{{../baseUrl}}/post/{{id}}" data-post-id="{{id}}"
                  data-post-title="{{title}}">Share on Twitter</a>
              </div>
            </div>
          </div>
        </div>

        <form class="comment-form" style="display:none;">
          <textarea class="comment-textarea" placeholder="Your comment..."></textarea>
          <button type="submit" class="submit-comment">Submit</button>
        </form>

        <div class="comments-container">
          <p class="comlabel">Comments </p>
          {{#each comments}}
          <div class="comment-container">

            <p class="comment-meta">
            <p class="comuser">{{user.username}}</p> {{format_date createdAt}}</p>
            <p class="com">{{comment}}</p>

            <a class="delete-comment" data-comment-id="{{id}}">Delete</a>
          </div>
          {{/each}}
        </div>

      </div>
    </div>
  </div>

  <div class="post-actions">
    <a class="post-action-item unhide-link" data-action="unhide" style="display: none;">Unhide</a>
  </div>

  {{/each}}
</div>

<script src="/js/sharePost.js"></script>
<script src="/js/hidePost.js"></script>
<script src="/js/addComment.js"></script>
<script src="/js/deleteComment.js"></script>
<script src="/js/addLike.js"></script>