                       <main class="column">
                            <video class="background-video" src="background.mp4" autoplay muted loop playsinline></video>
                            <section class="section">
                                <div class="container">
                                    <section class="section">
                                        <div class="container">
                                            <div class="bio-container">
                                                <figure class="image is-96x96 profile-picture">
                                                    <img src="default.png" alt="Profile picture" class="is-rounded">
                                                </figure>
                                                <div class="bio-left">
                                                    <p>Posts: {{user.postsCount}}</p>
                                                    <p>Joined: {{user.joinedDate}}</p>
                                                </div>
                                                <div class="bio-right">
                                                    <p>Username: {{user.username}}</p>
                                                    <p>Location: {{user.location}}</p>
                                                    <p>Birthday: {{user.birthday}}</p>
                                                    <p>Zodiac Sign: {{user.zodiacSign}}</p>
                                                </div>
                                            </div>
                                            <div class="profile-buttons">
                                                <button class="button is-primary">New Post</button>
                                                <button class="button is-primary">Post Picture</button>
                                                <button class="button is-primary">Posts Liked</button>
                                            </div>
                                            <div class="posts-container">
                                                {{!-- Display user posts or liked posts here --}}
                                                {{#each posts}}
                                                {{> post}}
                                                {{/each}}
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </section>
                        </main>